In [87]:
# Import necessary libraries
import feedparser
from sqlalchemy import create_engine, Column, String, Integer, DateTime, text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from celery import Celery
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import logging
import nltk

In [65]:
# Initialize Celery
celery = Celery('news_processing', broker='pyamqp://guest:guest@localhost//')
# Database setup
Base = declarative_base()

C:\Users\kprud\AppData\Local\Temp\ipykernel_21808\3065902628.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [66]:
class NewsArticle(Base):
    __tablename__ = 'news_articles'
    id = Column(Integer, primary_key=True)
    title = Column(String)
    content = Column(String)
    pub_date = Column(DateTime)
    source_url = Column(String)
    category = Column(String)

In [67]:
# Initialize database engine and create tables
engine = create_engine('postgresql://postgres:prudhvi@localhost/Rss', echo=True)
Base.metadata.create_all(bind=engine)

2024-01-28 20:38:35,272 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2024-01-28 20:38:35,273 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-01-28 20:38:35,273 INFO sqlalchemy.engine.Engine select current_schema()
2024-01-28 20:38:35,275 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-01-28 20:38:35,276 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2024-01-28 20:38:35,276 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-01-28 20:38:35,277 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 20:38:35,279 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2024-01-28 20:38:35,279 INFO sqlalchemy.engine.Engine [generated in 0.00064s] {'table_name': 'news_articles', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2024-01-28 20:38:35,282 INFO sqlalchemy.engine.Engine COMMIT

In [68]:
# Initialize NLTK
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
ps = PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kprud\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [88]:
def classify_category(content):
    # Add your NLP classification logic here
    # For example, a simple keyword-based approach
    if 'terrorism' in content.lower() or 'protest' in content.lower() or 'political unrest' in content.lower() or 'riot' in content.lower():
        return 'Terrorism/Protest/Political Unrest/Riot'
    elif 'positive' in content.lower() or 'uplifting' in content.lower():
        return 'Positive/Uplifting'
    elif 'natural disaster' in content.lower():
        return 'Natural Disasters'
    else:
        return 'Others'

In [70]:
def save_to_database(article, category):
    Session = sessionmaker(bind=engine)
    session = Session()

    # Check for duplicate articles
    if not session.query(NewsArticle).filter_by(title=article['title'], source_url=article['link']).first():
        # Save new article to the database
        new_article = NewsArticle(
            title=article['title'],
            content=article['content'],
            pub_date=article['published'],
            source_url=article['link'],
            category=category
        )
        session.add(new_article)
        session.commit()

In [95]:
# Celery task for processing news articles

def process_news_article(article):
    try:
        # Perform NLP processing to determine category
        category = classify_category(article['content'])
        print(category)
        # Update the database with the assigned category
        save_to_database(article, category)
    except Exception as e:
        logging.error(f"Error processing article: {str(e)}")

In [96]:
def parse_rss_feeds():
    rss_feeds = [
        'http://rss.cnn.com/rss/cnn_topstories.rss',
        'http://qz.com/feed',
        'http://feeds.foxnews.com/foxnews/politics',
        'http://feeds.reuters.com/reuters/businessNews',
        'http://feeds.feedburner.com/NewshourWorld',
        'https://feeds.bbci.co.uk/news/world/asia/india/rss.xml'
    ]

    for feed_url in rss_feeds:
        feed = feedparser.parse(feed_url)
        for entry in feed.entries:
            try:
                # Check if the 'published' key exists
                published = entry.published
            except AttributeError:
                try:
                    # If 'published' key does not exist, try using 'updated' key
                    published = entry.updated
                except AttributeError:
                    # If neither 'published' nor 'updated' exist, set a default value or handle it as needed
                    published = None

            try:
                # Check if the 'summary' key exists
                content = entry.summary
            except AttributeError:
                # If 'summary' key does not exist, use 'description' or other suitable field
                content = entry.get('description', '')

            # Send article to Celery queue for asynchronous processing
            process_news_article({
                'title': entry.title,
                'content': content,
                'published': published,
                'link': entry.link
            })

In [97]:
if __name__ == '__main__':
    # Run the feed parser script
    parse_rss_feeds()

Others
2024-01-28 21:10:54,362 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,363 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,364 INFO sqlalchemy.engine.Engine [generated in 0.00048s] {'title_1': 'Some on-air claims about Dominion Voting Systems were false, Fox News acknowledges in statement after deal is announced', 'source_url_1': 'https://www.cnn.com/business/live-news/fox-news-dominion-trial-04-18-23/index.html', 'param_1': 1}
2024-01-28 21:10:54,377 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,378 INFO sqlalchemy.engine.Engine [generated in 0.00080s] {'title': 'Some on-air claims about Dominion Voting Systems were false, Fox News acknowledges in statement after deal is announced', 'content': '', 'pub_date': 'Wed, 19 Apr 2023 12:44:51 GMT', 'source_url': 'https://www.cnn.com/business/live-news/fox-news-dominion-trial-04-18-23/index.html', 'category': 'Others'}
2024-01-28 21:10:54,379 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,382 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,383 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,384 INFO sqlalchemy.engine.Engine [cached since 0.02019s ago] {'title_1': 'Dominion still has pending lawsuits against election deniers such as Rudy Giuliani and Sidney Powell', 'source_url_1': 'https://www.cnn.com/business/live-news/fox-news-dominion-trial-04-18-23/h_8d51e3ae2714edaa0dace837305d03b8', 'param_1': 1}
2024-01-28 21:10:54,385 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,386 INFO sqlalchemy.engine.Engine [cached since 0.008921s ago] {'title': 'Dominion still has pending lawsuits against election deniers such as Rudy Giuliani and Sidney Powell', 'content': '', 'pub_date': None, 'source_url': 'https://www.cnn.com/business/live-news/fox-news-dominion-trial-04-18-23/h_8d51e3ae2714edaa0dace837305d03b8', 'category': 'Others'}
2024-01-28 21:10:54,386 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,388 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,389 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,390 INFO sqlalchemy.engine.Engine [cached since 0.02739s ago] {'title_1': 'Here are the 20 specific Fox broadcasts and tweets Dominion says were defamatory', 'source_url_1': 'https://www.cnn.com/2023/04/17/media/dominion-fox-news-allegations/index.html', 'param_1': 1}
2024-01-28 21:10:54,393 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,393 INFO sqlalchemy.engine.Engine [cached since 0.01632s ago] {'title': 'Here are the 20 specific Fox broadcasts and tweets Dominion says were defamatory', 'content': "• Fox-Dominion trial delay 'is not unusual,' judge says\n• Fox News' defamation battle isn't stopping Trump's election lies", 'pub_date': 'Mon, 17 Apr 2023 16:01:11 GMT', 'source_url': 'https://www.cnn.com/2023/04/17/media/dominion-fox-news-allegations/index.html', 'category': 'Others'}
2024-01-28 21:10:54,394 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,396 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,397 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,398 INFO sqlalchemy.engine.Engine [cached since 0.03436s ago] {'title_1': "Judge in Fox News-Dominion defamation trial: 'The parties have resolved their case'", 'source_url_1': 'https://www.cnn.com/2023/04/18/media/fox-dominion-settlement/index.html', 'param_1': 1}
2024-01-28 21:10:54,399 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,399 INFO sqlalchemy.engine.Engine [cached since 0.02276s ago] {'title': "Judge in Fox News-Dominion defamation trial: 'The parties have resolved their case'", 'content': 'The judge just announced in court that a settlement has been reached in the historic defamation case between Fox News and Dominion Voting Systems.', 'pub_date': 'Wed, 19 Apr 2023 08:28:17 GMT', 'source_url': 'https://www.cnn.com/2023/04/18/media/fox-dominion-settlement/index.html', 'category': 'Others'}
2024-01-28 21:10:54,400 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,401 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,403 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,403 INFO sqlalchemy.engine.Engine [cached since 0.03942s ago] {'title_1': "'Difficult to say with a straight face': Tapper reacts to Fox News' statement on settlement", 'source_url_1': 'https://www.cnn.com/videos/politics/2023/04/18/jake-tapper-dominion-lawsuit-settlement-fox-news-statement-lead-vpx.cnn', 'param_1': 1}
2024-01-28 21:10:54,404 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,405 INFO sqlalchemy.engine.Engine [cached since 0.02833s ago] {'title': "'Difficult to say with a straight face': Tapper reacts to Fox News' statement on settlement", 'content': "A settlement has been reached in Dominion Voting Systems' defamation case against Fox News, the judge for the case announced. The network will pay more than $787 million to Dominion, a lawyer for the company said.", 'pub_date': 'Tue, 18 Apr 2023 21:17:44 GMT', 'source_url': 'https://www.cnn.com/videos/politics/2023/04/18/jake-tapper-dominion-lawsuit-settlement-fox-news-statement-lead-vpx.cnn', 'category': 'Others'}
2024-01-28 21:10:54,407 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,408 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,409 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,409 INFO sqlalchemy.engine.Engine [cached since 0.04638s ago] {'title_1': 'Millions in the US could face massive consequences unless McCarthy can navigate out of a debt trap he set for Biden', 'source_url_1': 'https://www.cnn.com/2023/04/18/politics/mccarthy-biden-debt-ceiling/index.html', 'param_1': 1}
2024-01-28 21:10:54,412 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,412 INFO sqlalchemy.engine.Engine [cached since 0.03533s ago] {'title': 'Millions in the US could face massive consequences unless McCarthy can navigate out of a debt trap he set for Biden', 'content': '• DeSantis goes to Washington, a place he once despised, looking for support to take on Trump\n• Opinion: For the GOP to win, it must ditch Trump\n• Chris Christie mulling 2024 White House bid\n• Analysis: The fire next time has begun burning in Tennessee', 'pub_date': 'Tue, 18 Apr 2023 20:34:45 GMT', 'source_url': 'https://www.cnn.com/2023/04/18/politics/mccarthy-biden-debt-ceiling/index.html', 'category': 'Others'}
2024-01-28 21:10:54,413 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,414 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,415 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,415 INFO sqlalchemy.engine.Engine [cached since 0.05235s ago] {'title_1': 'White homeowner accused of shooting a Black teen who rang his doorbell turns himself in to face criminal charges', 'source_url_1': 'https://www.cnn.com/2023/04/18/us/kansas-city-ralph-yarl-shooting-tuesday/index.html', 'param_1': 1}
2024-01-28 21:10:54,417 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,419 INFO sqlalchemy.engine.Engine [cached since 0.04178s ago] {'title': 'White homeowner accused of shooting a Black teen who rang his doorbell turns himself in to face criminal charges', 'content': "• 'A major part of Ralph died': Aunt of teen shot after ringing wrong doorbell speaks\n• 20-year-old woman shot after friend turned into the wrong driveway in upstate New York, officials say", 'pub_date': 'Wed, 19 Apr 2023 04:29:05 GMT', 'source_url': 'https://www.cnn.com/2023/04/18/us/kansas-city-ralph-yarl-shooting-tuesday/index.html', 'category': 'Others'}
2024-01-28 21:10:54,420 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,422 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,423 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,423 INFO sqlalchemy.engine.Engine [cached since 0.06001s ago] {'title_1': "Newly released video shows scene of Jeremy Renner's snowplow accident", 'source_url_1': 'https://www.cnn.com/videos/us/2023/04/18/jeremy-renner-snowplow-accident-bodycam-nc-melas-contd-vpx.cnn', 'param_1': 1}
2024-01-28 21:10:54,424 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,425 INFO sqlalchemy.engine.Engine [cached since 0.04847s ago] {'title': "Newly released video shows scene of Jeremy Renner's snowplow accident", 'content': 'Newly released body camera footage shows firefighters and sheriff\'s deputies rushing to help actor Jeremy Renner after a near-fatal snowplow accident in January. The "Avengers" actor broke more than 30 bones and suffered other severe injuries. CNN\'s Chloe Melas has more.', 'pub_date': 'Tue, 18 Apr 2023 14:09:43 GMT', 'source_url': 'https://www.cnn.com/videos/us/2023/04/18/jeremy-renner-snowplow-accident-bodycam-nc-melas-contd-vpx.cnn', 'category': 'Others'}
2024-01-28 21:10:54,425 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,427 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,429 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,429 INFO sqlalchemy.engine.Engine [cached since 0.06562s ago] {'title_1': 'Jake Gyllenhaal and Jamie Lee Curtis spent the Covid-19 lockdown together', 'source_url_1': 'https://www.cnn.com/2023/04/18/entertainment/jake-gyllenhaal-jamie-lee-curtis-pandemic-living/index.html', 'param_1': 1}
2024-01-28 21:10:54,430 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,431 INFO sqlalchemy.engine.Engine [cached since 0.05475s ago] {'title': 'Jake Gyllenhaal and Jamie Lee Curtis spent the Covid-19 lockdown together', 'content': "It's sourdough bread and handstands for Jake Gyllenhaal and Jamie Lee Curtis.", 'pub_date': 'Tue, 18 Apr 2023 14:40:32 GMT', 'source_url': 'https://www.cnn.com/2023/04/18/entertainment/jake-gyllenhaal-jamie-lee-curtis-pandemic-living/index.html', 'category': 'Others'}
2024-01-28 21:10:54,432 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,434 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,435 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,435 INFO sqlalchemy.engine.Engine [cached since 0.07193s ago] {'title_1': 'Toddler crawls through White House fence, prompts Secret Service response', 'source_url_1': 'https://www.cnn.com/2023/04/18/politics/white-house-toddler/index.html', 'param_1': 1}
2024-01-28 21:10:54,436 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,437 INFO sqlalchemy.engine.Engine [cached since 0.06014s ago] {'title': 'Toddler crawls through White House fence, prompts Secret Service response', 'content': 'A tiny intruder infiltrated White House grounds Tuesday, prompting a swift response from the US Secret Service.', 'pub_date': 'Tue, 18 Apr 2023 17:38:16 GMT', 'source_url': 'https://www.cnn.com/2023/04/18/politics/white-house-toddler/index.html', 'category': 'Others'}
2024-01-28 21:10:54,437 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,439 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,440 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,440 INFO sqlalchemy.engine.Engine [cached since 0.07685s ago] {'title_1': "Jamie Foxx remains hospitalized nearly a week after 'medical complication'", 'source_url_1': 'https://www.cnn.com/2023/04/17/entertainment/jamie-foxx-remains-hospitalized/index.html', 'param_1': 1}
2024-01-28 21:10:54,441 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,441 INFO sqlalchemy.engine.Engine [cached since 0.06529s ago] {'title': "Jamie Foxx remains hospitalized nearly a week after 'medical complication'", 'content': 'Jamie Foxx remains hospitalized in Georgia nearly a week after his daughter revealed the actor experienced a "medical complication," a source with knowledge of the matter told CNN on Monday.', 'pub_date': 'Tue, 18 Apr 2023 00:27:07 GMT', 'source_url': 'https://www.cnn.com/2023/04/17/entertainment/jamie-foxx-remains-hospitalized/index.html', 'category': 'Others'}
2024-01-28 21:10:54,442 INFO sqlalchemy.engine.Engine COMMIT
Others
2024-01-28 21:10:54,445 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-01-28 21:10:54,446 INFO sqlalchemy.engine.Engine SELECT news_articles.id AS news_articles_id, news_articles.title AS news_articles_title, news_articles.content AS news_articles_content, news_articles.pub_date AS news_articles_pub_date, news_articles.source_url AS news_articles_source_url, news_articles.category AS news_articles_category
FROM news_articles
WHERE news_articles.title = %(title_1)s AND news_articles.source_url = %(source_url_1)s
 LIMIT %(param_1)s
2024-01-28 21:10:54,446 INFO sqlalchemy.engine.Engine [cached since 0.08257s ago] {'title_1': "A 13-year-old dies after participating in a Benadryl TikTok 'challenge'", 'source_url_1': 'https://www.cnn.com/2023/04/18/us/benadryl-tiktok-challenge-teen-death-wellness/index.html', 'param_1': 1}
2024-01-28 21:10:54,447 INFO sqlalchemy.engine.Engine INSERT INTO news_articles (title, content, pub_date, source_url, category) VALUES (%(title)s, %(content)s, %(pub_date)s, %(source_url)s, %(category)s) RETURNING news_articles.id
2024-01-28 21:10:54,447 INFO sqlalchemy.engine.Engine [cached since 0.0712s ago] {'title': "A 13-year-old dies after participating in a Benadryl TikTok 'challenge'", 'content': 'A 13-year-old in Ohio has died after "he took a bunch of Benadryl," trying a dangerous TikTok challenge that\'s circulating online, according to a CNN affiliate and a GoFundMe account from his family.', 'pub_date': 'Wed, 19 Apr 2023 15:01:06 GMT', 'source_url': 'https://www.cnn.com/2023/04/18/us/benadryl-tiktok-challenge-teen-death-wellness/index.html', 'category': 'Others'}